<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<nav>
    <h1 class="teal lighten-2" style="padding-left: 300px">James Nemecek</h1>
</nav>
<ul id="slide-out" class="side-nav fixed">
    <li><a class="subheader center">Pages</a></li>
    <li><a class="waves-effect waves-teal" href="index.html">About Me</a></li>
    <li><a class="waves-effect waves-teal" href="projects.html">Previous Works</a></li>
    <li><a class="waves-effect waves-teal" href="services.html">Services</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader center">Links</a></li>
    <li><a href="https://www.linkedin.com/in/james-nemecek-6b1439209/">Linkedin</a></li>
    <li><a href="mailto: james.nemecek@icloud.com">Send Email</a></li>
</ul>